#lecturesList_masterButtonUD {
    text-align: right;
}
.lecturesList_master {
    margin: 0px;
    width: 70px;

    color: #17173D;
    background-color: transparent;
}



.lecturesList_modal2 { 
    position: absolute; 
    top: 25%; 
    left: 37%; 
    width: 380px; 
    height: 350px; 
    display: none; 

    z-index: 998;
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white; 
}
.lecturesList_modal1 { 
    position: absolute;
    top: 25%;
    left: 35%;
    width: 500px;
    height: 300px;
    display: none;

    z-index: 998;
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white; 
}



#lecturesList_boxA {
    width: 70%;
    height: auto;

    display: inline-block;
}
#lecturesList_boxAA {
    width: 100%;
    height: auto;

    display: inline-block;
}
#lecturesList_boxB {
    width: 400px;
    display: inline-block;
    align-items: center;
}
#lecturesList_img {
    width: 400px;
    margin: 30px 0px;
}
#lecturesList_boxC {
    width: 1000px;
    text-align: left;
    margin: 30px 0px;
}
#lecturesList_title {
    margin: 0px 22px 20px 22px;
    font-size: 30px;
    font-weight: 600;
}
#lecturesList_star {
    font-size: 22px;
}
#lecturesList_lecturer, #lecturesList_site {
    margin: 5px 22px;
    font-size: 20px;
}
.lecturesList_hashtag {
    float: left;
    margin: 5px 16px;
    font-size: 17px;
}
#lecturesList_hashtag2 {
    margin: 0px 7px;
    padding: 2px 10px;
    border-radius: 10px;
    background: #45AFBE;
}
#lecturesList_like {
    float: right;
}
#lecturesList_like2 {
    margin: 7px 0px 0px 3px;
    float: right;
    font-size: 22px;
}
#lecturesList_imgLike {
    width: 38px;
    height: 38px;
    margin: 5px 0px 0px 0px;
}



#lecturesList_boxReviewAA {
    width: 100%;
    height: auto;
    margin: 30px 0px;

    text-align: left;
}
#lecturesList_titleReview {
    margin: 0px 0px 0px 17px;

    /* float: left; */
    font-size: 19px;
    font-weight: 600;
}
#lecturesList_titleReports {
    float: right;
    font-size: 17px;
    font-weight: 500;
}
#lecturesList_nicknameReview {
    margin: 0px 0px 0px 17px;
    color: rgb(150, 150, 150);
}
#lecturesList_dateReview {
    margin: 0px 0px 0px 30px;
    color: rgb(150, 150, 150);
}
#lecturesList_commentReview {
    margin: 10px 0px 30px 17px;
}
#lecturesList_hrReview {
    border-width: 1px 0px 0px 0px;
    height: 1px;
    background: rgb(190, 190, 190);
}



#lecturesList_box3 {
    width: 100%;
    height: 250px;
    margin: 30px 0px;

    display: flex;
    text-align: left;
    border-radius: 10px;
}
#lecturesList_box4 {
    width: 350px;
    height: 100%;

    text-align: center;
    font-size: 25px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
}
#lecturesList_avgRate {
    margin: 30px 0px 0px 0px;
    font-size: 60px;
    font-weight: 700;
}
#lecturesList_starReview {
    margin: 0px 60px;
}
#lecturesList_reviewCnt {
    color:rgb(190, 190, 190);
    font-size: 22px;
    font-weight: 600;
}
#lecturesList_box5 {
    width: 73%;
    height: 100%;
    margin: 0px 0px 0px 10px;

    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
}
#lecturesList_num {
    margin: 35px 20px 0px 20px;
}
.lecturesList_numReview {
    margin: 10px 20px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color:rgb(20, 20, 20)
}
.lecturesList_numReviewBox {
    width: 90%;
    height: 10px;
    margin: 8px 0px 0px 10px;

    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}
#lecturesList_bar2 {
    margin: 0px 7px;
    width: 1px;
    height: 28px;
    background-color: #17173D;
}



#lecturesList_commnetsAddInput {
    width: 60%;
}
#lecturesList_commentsAddButton {
    width: 50px;
    font-size: 16px;
}
