#lectures_individual {
    width: 208px;
    height: 200px;
    margin: 10px;

    text-align: center;

    background-color: white;
}
#lectures_box {
    width: 200px;
    height: 130px;
    margin: 0px 0px 0px 0px;
    
    align-items: center;
    display: inline-block;
    position: relative;

    background-color: rgb(219, 219, 219);
}
#lectures_imageBox {
    width: 25px;
    height: 25px;
    margin: 6px 0px 0px 165px;

    display: flex;

    position: absolute;
    z-index: 998;
}
#lectures_title {
    width: 180px;
    height: 46px;
    margin: 0px 0px 0px 10px;

    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
#lectures_rate {
    margin: 0px 0px 0px 10px;
    text-align: left;
}



#lectures_hashtagSearch {
    width: 1200px;
    height: 50px;
    display: inline-block;
}
#lectures_hashtagSelection {
    width: 60px;
    height: 35px;
    line-height: 25px;
    margin: 7px 0px 0px 0px;
    text-align: center;

    color: #17173D;
    font-weight: 900;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}
#lectures_hashtagSelection3 {
    width: 1115px;
    height: 50px;
    line-height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding: 0px 0px 0px 15px;
    text-align: left;
}
#lectures_hashtagSelection2 {
    width: 1100px;
    height: 400px;
    margin: 15px 0px 0px 100px;

    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
    position: absolute;
    z-index: 999;

    text-align: left;
    display: none;
    background-color: white;
}
.lectures_hr {
    width: 1200px;
    height: 2px;

    background-color: rgb(210, 210, 210);
}
.lectures_hashtag {
    width: auto;
    margin: 2px;
    background-color: #45AFBE;
}

/* .body-box {
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_name_box {
    width:1200px;
}

.top_search_write_box {
    width:1200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.recommend_lecture_box, .lecture_box {
    width:180px;
}

#lectureImage {
    width:180px;
}

.recommend_lecture_star {
    display: flex;
    flex-direction: row;
}

.lecture_sub_info {
    font-size: 14px;
    color:#b4b4b4;
}

.lecture_title {
    font-size:18px;
}

.hashtag {
    color:white;
    font-size:20px;
    font-weight: bold;
    background-color: #45afbe;
    height:36px;
    width:fit-content;
    padding-left:15px;
    padding-right:15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.write_button {
    color:white;
    background-color: #17173d;
    width:100px;
    height:40px;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor:pointer;
}

#writeLectureButton {
    color: #17173d, !important;
    border:none;
}

hr {
    color: #c4c4c4;
    height:6px;
    border:0px;
}

h2 {
    color:#17173d;
    margin-right:auto;
}

.recommend_box {
    width:1200px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

#arrow {
    width:40px;
    height:80px;
} */