#loadmap_body_center_list {
    width: 100%;
    height: 1080px;
    text-align: center;
}
#loadmap_body_center_list_inner {
    width: 1200px;
    height: 1080px;
    text-align: center;
    display: inline-block;
    background-color: #17173D;
}