#loadmapList_body_center_inner {
    width: 1200px;
    display: inline-block;
}

#loadmapList_body_center_inner_line {
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
}
#loadmapList_body_center_inner_line_top {
    width: 100%;
    height: 100px;
}
#loadmapList_body_center_inner_line_circle {
    width: 100px;
    height: 100px;

    z-index: 997;

    /* position:absolute; */
    border-radius: 50%;
    background-color: #45AFBE;
}
#loadmapList_body_center_inner_line_center {
    display: flex;
}
#loadmapList_body_center_inner_line_blank1 {
    width: 45px;
    height: 10px;
    left: 45%;

    z-index: 997;
    text-align: center;
}
#loadmapList_body_center_inner_line_blank2 {
    width: 35px;
    height: 10px;
    left: 45%;

    z-index: 997;
    text-align: center;
}
#loadmapList_body_center_inner_line_centerLine {
    width: 10px;
    height: 480px; /*변동 480+400*/

    left: 45%;
    z-index: 997;
    text-align: center;
    /* display: inline-block; */
    /* position: absolute; */
    background-color: #45AFBE;
}
#loadmapList_body_center_inner_line_circle_last {
    width: 30px;
    height: 30px;

    left: 35%;
    /* bottom: 500; */

    z-index: 997;
    /* position:absolute; */
    border-radius: 50%;
    background-color: #45AFBE;
}



#loadmapList_body_center_inner_box {
    width: 98.5%;
    height: 375px;
    padding: 25px 0px 0px 20px;

    display: flex;
    background-color: #17173D; /*짝수일 경우 white*/
}
#loadmapList_body_center_inner_box_top {
    width: 60px;
    height: 60px;
}
#loadmapList_body_center_inner_box_circle1 {
    /*뒷 숫자에 따라 씌여지는 값달라짐*/
    width: 60px;
    height: 60px;
    line-height: 60px;

    z-index: 998;
    position:absolute;

    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #45AFBE;
}

#loadmapList_body_center_inner_box_content {
    width: 43%;
    /* display: flex; */
    text-align: center;
    /* background-color: red; */
}
#loadmapList_body_center_inner_box_content_picture {
    width: 450px;
    height: 350px;

    text-align: center;
    display: inline-block;
    background-color: gray;
}
#loadmapList_body_center_inner_box_content_hashtag {
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: white;
}
#loadmapList_body_center_inner_box_content_title {
    width: 100%;
    margin: 30px 10px;

    text-align: left;
    
    font-size: 30px;
    color: white;
}
#loadmapList_body_center_inner_box_content_description {
    width: 100%;
    margin: 30px 10px;

    text-align: left;
    
    font-size: 22px;
    color: white;
}



#loadmapList_body_center_inner_bottom_top {
    width: 100px;
    height: 35px;
}
#loadmapList_body_center_inner_bottom_peaple {
    height: 35px;
    line-height: 80px;

    font-size: 20px;
    color: #17173D;
    font-weight: bolder;
}
#loadmapList_body_center_inner_button {
    /* width: 100%; */
    margin: 10px 10px;
    /* display: flex; */
    /* float: right; */
    text-align: right;
}