.body_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_card, .sub_card {
    height:400px;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main_card {
    height:470px;
    background-color: #17173D;
    color:white;
}

.text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#mainPicture {
    margin-top:70px;
    height:400px;
}

#subPicture {
    height:300px;   
}

#linkBox {
    line-height: 40px;
    cursor:pointer;
}

#linkButton {
    background-color: #45afbe;
    width:200px;
    height:40px;
    color:white;
    text-align: center;
    border-radius: 20px;
    vertical-align: middle;
}