.body_main {
    height:100%;
    width:100%;
}

.left_menu_box {
    width:100%;
    min-width: 125px;
    height:100vh;
    background-color: #17173d;
}

.right_content_box {

}

.bigMenu {
    font-size:24px;
    color:white;
    font-weight: 900;
    text-align: left;
    margin-left:20%;
    margin-top:20%;
}

.smallMenu {
    font-size:18px;
    color:#c4c4c4;
    font-weight: 900;
    cursor: pointer;
}

.smallMenu:hover {
    color:#45afbe;
}
.smallMenu:active {
    color:#45afbe;
}
.smallMenu:visited {
    color:#45afbe;
}