/* ::-webkit-scrollbar { display: none; } */

::-webkit-scrollbar { 
    width: 0px; 
    height: 13px;
}
::-webkit-scrollbar-track { 
    background-color: #e4e4e4; 
    border-radius: 100px; 
}
::-webkit-scrollbar-thumb { 
    background-color: rgb(190, 190, 190);
    border-radius: 100px; 
}
::-webkit-scrollbar-thumb { 
    /* background-image: linear-gradient(360deg, #45AFBE 100%);  */
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5); 
    border-radius: 100px; 
}



.roadmapsAdd_modal1 { 
    position: absolute; 
    top: 25%; 
    left: 35%; 
    width: 500px; 
    height: 300px; 
    display: none;

    z-index: 998;
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white; 
}
.roadmapAdd_reportsButton, .roadmapAdd_reportsButton2 {
    width: 140px;
    margin: 0px 15px;

    border-radius: 5px;
    color: white;
    background: #17173D;
}
.roadmapAdd_reportsButton2 {
    color: #17173D;
    background: rgb(219, 219, 219);
}
#roadmapsAdd_modalA {
    width: 100%;
    height: 130px;
    line-height: 180px;
    font-size: 25px;
    font-weight: 600;
}
#roadmapsAdd_modalB {
    width: 100%;
    height: 80px;
    line-height: 0px;
    font-size: 25px;
    font-weight: 600;
}
#roadmapsAdd_modalC {
    margin: 15px 0px 0px 0px;
}



#roadmapsUpdate_mainTitle {
    width: 90%;
    height: 150px;
    margin: 0px 20px;

    display: flex;
    float: right;

    font-size: 22px;
    text-align: center;
}
#roadmapsUpdate_mainTitle > input {
    width: 80%;
    height: 50px;
    margin: 0px 10px 0px 0px;
    resize: none;

    font-size: 22px;
    border: 0;
    border-radius: 10px;
    background-color: white;
}
#roadmapsUpdate_mainDescription {
    width: 97.5%;
    height: 150px;
    margin: 30px 20px;

    display: inline-block;

    font-size: 22px;
    text-align: center;
}
textarea#roadmapsUpdate_mainDescriptionInput { min-height: 150px; }
#roadmapsUpdate_mainDescription > textarea {
    width: 87%;
    /* height: 150px; */
    resize: none;
    margin: 0px 0px 30px 0px;

    font-size: 22px;
    border: 0;
    border-radius: 10px;
    background-color: white;
}



#roadmapsUpdate_individe, #roadmapsUpdate_individe3 {
    width: 480px;
    background-color: white;
}
#roadmapsUpdate_individe1 {
    width: 550px;
    margin: 0px 0px 0px 3px;
    background-color: rgb(219, 219, 219);
}
#roadmapsUpdate_lectureId {
    display: none;
}
#roadmapsUpdate_box1 {
    margin: 10px 0px 0px 10px;
    display: flex;
}
#roadmapsUpdate_box2 {
    width: 230px;
    height: auto;
    margin: 10px;
    padding: 5px;
    text-align: left;
    
}
#roadmapsUpdate_picture {
    width: 200px;
    height: 180px;
    margin: 10px;

    background-color: gray;
}
#roadmapsUpdate_hashtagBox {
    width: auto;
    height: 40px;
    /* overflow: scroll; */
    /* overflow-y: hidden; */
    display: flex;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#roadmapsUpdate_hashtag {
    margin: 5px;
    padding: 5px 10px;

    color: #17173D;
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
}
#roadmapsUpdate_title {
    margin: 5px;

    font-size: 22px;
    font-weight: bolder;
    color: #17173D;
}
/* #roadmapsUpdate_description {
    margin: 5px;

    font-size: 18px;
    color: white;
} */



.roadmapsUpdate__box hr {
    width: 500px;
    background-color: #17173D;
}
.roadmapsUpdate_individe1 hr {
    background-color: #17173D;
}