:root {
    --height: 380px;
}

#roadmapsList_main {
    width: 75%;
    display: inline-block;
}
#roadmapsList_line {
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
}
#roadmapsList_line1 {
    width: 100%;
    height: 300px;
}
#roadmapsList_line2 {
    width: 100px;
    height: 100px;
    z-index: 997;
    border-radius: 50%;
    background-color: #17173D;
}
#roadmapsList_line3 {
    width: 45px; 
    height: 10px;
    left: 45%;
    z-index: 997;
    text-align: center;
}
#roadmapsList_centerLine {
    width: 10px;
    height: var(--height);
    /* 변동 380+400 */

    left: 45%;
    z-index: 997;
    text-align: center;
    background-color: #17173D;
}
#roadmapsList_line4 {
    width: 35px; 
    height: 10px;
    left: 45%;
    z-index: 997;
    text-align: center;
}
#roadmapsList_line5 {
    width: 30px;
    height: 30px;
    left: 35%;
    z-index: 997;
    border-radius: 50%;
    background-color: #17173D;
}



#roadmapsList_likeButton {
    width: 99%;
    margin: 10px 10px;

    align-items: right;
    display: flex;
}
#roadmapsList_boxLike1 {
    width: 80px;
}
#roadmapsList_boxLike2 {
    width: 100%;
}



#roadmapsList_box0 {
    width: 75%;
}
#roadmapsList_box1 {
    width: 97%;
    height: 340px;
    padding: 25px 0px 0px 20px;

    display: flex;
}
#roadmapsList_blank {
    width: 60px;
    height: 60px;
}
#roadmapsList_circle {
    width: 60px;
    height: 60px;
    line-height: 60px;

    z-index: 998;
    position:absolute;

    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
    color: white;
    background-color: #17173D;
}
#roadmapsList_blank1 {
    width: 38%;
    text-align: center;
}
#roadmapsList_image {
    width: 95%;
    height: 250px;
    text-align: center;
    display: inline-block; 
    background-color: gray;
}
#roadmapsList_mainTitle {
    width: 100%;
    height: 60px;
    padding: 10px;

    text-align: left;
    display: inline-block; 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    
    font-size: 23px;
    font-weight: bolder;
    color: #17173D;
}
#roadmapsList_blank2 {
    width: 52%;
}
#roadmapsList_blank2 > hr {
    height: 3px;
}
#roadmapsList_hashtagBox {
    display: flex;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#roadmapsList_hashtag0 {
    width: auto;
    padding: 5px 17px;
    margin: 0px 5px;
    
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: #17173D;
    
    border-radius: 50px;
    background-color: #45AFBE;
}
#roadmapsList_hashtag1 {
    width: auto;
    padding: 5px 17px;
    margin: 0px 5px;
    
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: #17173D;
    
    border-radius: 50px;
    background-color: #FFE600;
}
#roadmapsList_hashtag2 {
    width: auto;
    padding: 5px 17px;
    margin: 0px 5px;
    
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: #17173D;
    
    border-radius: 50px;
    background-color: #A0CD63;
}
#roadmapsList_title {
    width: 100%;
    margin: 30px 10px;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: left;

    font-size: 30px;
    font-weight: bolder;
    color: #17173D;
}
#roadmapsList_title2 {
    width: 100%;
    height: 200px;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    
    line-height: 250px;
    text-align: center;
  
    color: #17173D;
    font-size: 64px;
    font-weight: bolder;
    display: inline-block;
}
#roadmapsList_description {
    width: 100%;
    height: 90px;
    margin: 30px 10px;

    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: left;
    
    font-size: 22px;
    color: #17173D;
    /* background-color: red; */
}
#roadmapsList_review {
    width: 200px;
    height: 30px;
    /* line-height: 40px; */
    margin: 0px 10px;
    padding: 8px 15px 0px 15px;
    float: left;
    align-items: center;

    border-radius: 50px;
    background-color: rgb(219, 219, 219);
}
#roadmapsList_like1 {
    width: auto;
    height: 30px;
    margin: 3px 0px 0px 0px;
    padding: 0px 5px;

    display: flex;
    float: left;

    color: white;
    font-weight: 600;
    border-radius: 5px;
}



#roadmapsList_rightBox {
    width: 25%;
    height: auto;
    margin: 20px 0px;

    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}
#roadmapsList_profill {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 20px 0px 0px 20px;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    border-radius: 50px;
    background-color: #45AFBE;
}
#roadmapsList_profill2 {
    width: 50px;
    height: 50px;
    line-height: 50px;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    border-radius: 50px;
    background-color: #45AFBE;
}
#roadmapList_nickname {
    /* width: 50px; */
    height: 50px;
    line-height: 50px;
    margin: 20px 0px 0px 10px;

    font-size: 20px;
}
#roadmapList_content {
    width: 80%;
    margin: 30px;
    text-align: left;
}



#roadmapsList_peaple {
    width: 100px;
    height: 35px;
}
#roadmapsList_peaple1 {
    height: 35px;
    line-height: 80px;
    font-size: 20px;
    color: #17173D;
    font-weight: bolder;
}
#roadmapsList_updateBox {
    height: 100px;
    margin: 10px 10px;
    text-align: right;
}
#roadmapsList_updateButton {
    color: white;
    border-radius: 10px;
    background-color: #17173D;
}


