.roadmapsAdd2_flex {
    display: flex;
}

#roadmapsAdd2_centerLine {
    width: 10px;
    height: 480px; /*변동 480+400*/

    left: 45%;
    z-index: 997;
    text-align: center;
    /* display: inline-block; */
    /* position: absolute; */
    background-color: #45AFBE;
}



#roadmapsAdd2_box1 {
    width: 98.5%;
    height: 375px;
    padding: 25px 0px 0px 20px;

    display: flex;
    background-color: #17173D; /*짝수일 경우 white*/
}
#roadmapsAdd2_circle1 {
    /*뒷 숫자에 따라 씌여지는 값달라짐*/
    width: 60px;
    height: 60px;
    line-height: 60px;

    z-index: 998;
    position:absolute;

    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #45AFBE;
}

#roadmapsAdd2_hashtag {
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: white;
}
#roadmapsAdd2_title {
    width: 100%;
    margin: 30px 10px;

    text-align: left;

    font-size: 30px;
    font-weight: bolder;
    color: white;
}
#roadmapsAdd2_description {
    width: 100%;
    margin: 30px 10px;

    text-align: left;
    
    font-size: 22px;
    color: white;
}
