  
  .roadmaps_searchCatagory {
    width: 400px;
    height: 50px;
  
    display: flex;
  }


  
  #roadmaps_list {
    width: 100%;
    height: 1230px;
    
    color: #17173D;
    font-size: 18px;
    font-weight: bolder;
  }

  #roadmaps_individe1 {
    width: 100%;
    height: 210px;
    margin: 15px 0px 0px 0px;
    padding: 15px 0px 15px 10px;
    
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    background-color: white;
  }
  #roadmaps_title {
    width: 1040px;
    margin: 5px 0px 0px 20px;

    display: flex;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 25px; 
    font-weight: bolder; 
    color: #17173D;
  }
  #roadmaps_company {
    margin: 0px 0px 0px 10px;
    padding: 0px 20px;

    font-size: 22px;
    font-weight: 600;
    border-radius: 20px;
    color: white;
    background-color: #45AFBE;
  }
  #roadmaps_lectureThumbnails {
    width: 135px;
    height: 100px;
    margin: 10px;

    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    background-color: gray;
  }
  #roadmaps_nickname {
    width: 989px;
    margin: 0px 0px 0px 20px;

    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 17px; 
    font-weight: 600; 
    color: rgb(190, 190, 190);
  }
  #roadmaps_date {
    width: auto;
    margin: 0px 0px 0px 20px;

    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 17px; 
    font-weight: 400; 
    color: rgb(190, 190, 190);
  }



  /* #roadmap_list hr {
    height: 2px;
  }
  #roadmap_profill {
    width: 50px; 
    height: 50px; 
    line-height: 50px; 
    
    font-size: 22px; 
    border-radius: 50%; 
    color: #17173D; 
    background-color: #45AFBE; 
  }
  #roadmap_title {
    margin: 5px 0px 0px 20px;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;

    font-size: 25px; 
    font-weight: bolder; 
    color: #17173D;
  }
  #roadmap_like {
    margin: 5px 0px 0px 20px;

    font-size: 22px;
    text-align: center;
  }
  #roadmap_together {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 7px;
    padding: 3px 7px 3px 7px;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #17173D;
  }
  #roadmap_location {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 0px;
    padding: 3px 7px 3px 7px;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #45AFBE;
  }
  #roadmap_hashtag {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 0px;
    padding: 3px 7px 3px 7px;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FF9900;
  }
  #roadmap_date {
    width: auto;
    height: 25px;
    margin: 5px;
    padding: 3px;

    color: rgb(190, 190, 190);
    border-radius: 5px;
  }



  #roadmap_number1 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;

    border: 2px solid rgb(240, 240, 240);

    font-size: 20px;
    font-weight: bolder;
    color: #17173D;
    background-color: white;
  } */



/* #roadmaps_individe1 {
    width: 370px;
    height: auto;
    margin: 5px;
    padding: 0px 10px 0px 10px;

    text-align: center;
    display: inline-block;
    color: white;
    background-color: #17173D;
}
#roadmaps_title1 {
    width: 300px;
    height: 50px;
    margin: 45px 0px 30px 0px;

    text-align: center;

    font-size: 30px;
    display: inline-block;
}
#roadmaps_language1_1 {
    width: auto;
    height: 20px;
    padding: 0px 10px 18px 10px;

    font-size: 25px;
    color: #17173D;
    border-radius: 10%;
    background-color: rgb(219, 219, 219);
}

#roadmaps_individe2 {
    width: 366px;
    height: auto;
    margin: 5px;
    padding: 0px 10px 0px 10px;

    text-align: center;
    display: inline-block;

    text-align: center;
    display: inline-block;
    border: 2px solid #17173D;
    background-color: white;
}
#roadmaps_title2 {
    width: 300px;
    height: 50px;

    text-align: center;
    display: inline-block;
    background-color: red;
} */
