#roadmapsUpdate_mainTitle {
    width: 97.5%;
    height: 50px;
    line-height: 50px;
    margin: 30px 20px;

    font-size: 22px;
    text-align: left;
}
#roadmapsUpdate_mainTitle > input {
    width: 87%;
    height: 50px;

    font-size: 22px;
    border: 0;
    border-radius: 10px;
    background-color: white;
}
#roadmapsUpdate_mainDescription {
    width: 97.5%;
    height: 150px;
    margin: 30px 20px;

    display: flex;

    font-size: 22px;
    text-align: left;
}
#roadmapsUpdate_mainDescription > textarea {
    width: 87%;
    height: 150px;
    resize: none;

    font-size: 22px;
    border: 0;
    border-radius: 10px;
    background-color: white;
}



#roadmapsUpdate_individe, #roadmapsUpdate_individe3 {
    width: 480px;
    background-color: white;
}
#roadmapsUpdate_individe1 {
    width: 550px;
    margin: 0px 0px 0px 3px;
    background-color: rgb(219, 219, 219);
}
#roadmapsUpdate_lectureId {
    display: none;
}
#roadmapsUpdate_box1 {
    margin: 10px 0px 0px 10px;
    display: flex;
}
#roadmapsUpdate_box2 {
    width: 230px;
    height: auto;
    margin: 10px;
    padding: 5px;
    text-align: left;
    
}
#roadmapsUpdate_picture {
    width: 200px;
    height: 180px;
    margin: 10px;

    background-color: gray;
}
#roadmapsUpdate_hashtagBox {
    width: auto;
    height: 40px;
    /* overflow: scroll; */
    /* overflow-y: hidden; */
    display: flex;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#roadmapsUpdate_hashtag {
    margin: 5px;
    padding: 5px 10px;

    color: #17173D;
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
}
#roadmapsUpdate_title {
    margin: 5px;

    font-size: 22px;
    font-weight: bolder;
    color: #17173D;
}
/* #roadmapsUpdate_description {
    margin: 5px;

    font-size: 18px;
    color: white;
} */



.roadmapsUpdate__box hr {
    width: 500px;
    background-color: #17173D;
}
.roadmapsUpdate_individe1 hr {
    background-color: #17173D;
}