#studiesList_title {
    width: 950px;
    text-align: left;

    font-size: 35px;
    font-weight: bolder;
}
#studiesList_profill {
    width: 50px; 
    height: 50px; 
    line-height: 50px; 
    
    font-size: 22px; 
    border-radius: 50%; 
    color: #17173D; 
    background-color: #45AFBE;
}
#studiesList_writeUsername {
    width: auto; 
    height: 50px; 
    margin: 0px 0px 0px 10px;
    line-height: 50px;
    
    font-size: 22px; 
    border-radius: 50%; 
    color: #17173D;
}
#studiesList_top {
    margin: 15px 0px 20px 0px;
}
#studiesList_together {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 7px;
    padding: 3px 7px 3px 7px;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #17173D;
}
#studiesList_like {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 0px;
    padding: 3px 7px 3px 7px;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #45AFBE;
}

#studiesList_box {
    width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
}
#studiesList_box1 {
    padding: 8px 20px 8px 20px;
    color: rgb(150, 150, 150);
    font-weight: bolder;
}
#studiesList_box2 {
    width: 800px;
    padding: 8px 0px 8px 20px;
}
#studiesList_hr {
    width: 1100px;
    height: 1px;
}
#studiesList_content {
    padding: 20px;
    height: auto;
}

#studiesList_box3 {
    width: 100%;
    height: auto;
    padding: 15px 0px 15px 0px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
}
#studiesList_box3 > input {
    /* width: 1000px; */
    height: 25px;
    margin: 0px 10px 0px 25px;

    border: 0;
}
#studiesList_box3 > button {
    /* width: 1000px; */
    height: 25px;
    margin: 0px 10px 0px 25px;

    border: 1px solid #17173D;
    color: #17173D;
    border-radius: 5px;
    background-color: white;
}



#studiesList_individe2 {
    margin: 20px 0px 0px 20px;
}
#studiesList_nestedComments {
    margin: 10px 0px 0px 30px;
}
#studiesList_commentsProfill {
    width: 30px; 
    height: 30px; 
    line-height: 30px; 
    margin: 10px 0px 0px 0px;
    
    font-size: 16px; 
    border-radius: 50%; 
    color: #17173D; 
    background-color: #45AFBE; 
}
#studiesList_commentsWriteUsername {
    width: auto; 
    height: 30px; 
    margin: 10px 0px 0px 10px;
    line-height: 30px;
    
    font-size: 16px;
    font-weight: bolder;
    border-radius: 50%;
    color: #17173D;
}
#studiesList_commentsContent {
    width: auto; 
    height: 30px; 
    margin: 0px 0px 0px 35px;
    line-height: 30px;
    
    font-size: 16px; 
    border-radius: 50%; 
    color: #17173D;
}
#a {
    width: 30px;
    background-color: red;
}



#studiesList_nestedcommnetsAddMain {
    display: none;
}



#studiesList_button {
    width: 100px;
    margin: 5px;
}

/* #studiesList_blank {

} */
#studiesList_bar {
    width: 2px;
    height: 32px;

    background-color: #17173D;
}
#studiesList_bar div {
    width: 2px;
    height: 6px;
    background-color: rgb(240, 240, 240);
}
#studiesList_update,#studiesList_delete {
    width: 50px;
    
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0);
}