a {
    color: #17173D;
    font-weight: bolder;
    text-decoration-line: none;
}

#body_center_write_inner {
    width: 1200px;
    height: 1080px;
    /* line-height: 1080px; */
    text-align: center;
    display: inline-block;
}

#body_center_write_inner_hashtag_peeple {
    width: 100%;
    margin: 10px 10px;
    display: flex;
    align-items: center;
}
#body_center_write_inner_hashtag {
    width: 73%;
    font-size: 22px;
    text-align: left;
}
#body_center_write_inner_peeple {
    width: 25%;
    font-size: 22px;
    text-align: right;
}
#body_center_write_inner_onoff_location {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    align-items: center;
}
#body_center_write_inner_onoff {
    width: 5%;
}
#body_center_write_inner_onoff_circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    background-color: #3CD8D8;
}
#body_center_write_inner_location {
    width: 42%;
    font-size: 22px;
    margin: 0px 10px;
    text-align: left;
}
#body_center_write_inner_title {
    width: 100%;
    margin: 30px 10px;
    font-size: 22px;
    text-align: left;
}
#body_center_write_inner_description {
    width: 100%;
    margin: 30px 10px;
    font-size: 22px;
    text-align: left;
}
#body_center_write_inner_add {
    width: 98%;
    margin: 10px 10px;
    text-align: right;
}