  
  .roadmaps_searchCatagory {
    width: 400px;
    height: 50px;
  
    display: flex;
  }


  
  #roadmaps_list {
    width: 100%;
    height: 1260px;
    
    color: #17173D;
    font-size: 18px;
    font-weight: bolder;
  }

  #roadmaps_individe1 {
    width: 100%;
    height: 210px;
    margin: 15px 0px 0px 0px;
    padding: 15px 0px 15px 10px;
    
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    background-color: white;
  }
  #roadmaps_title {
    width: 1070px;
    margin: 5px 0px 0px 15px;

    display: flex;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 25px; 
    font-weight: bolder; 
    color: #17173D;
  }
  #roadmaps_company {
    margin-left: 10px;
    padding: 0px 20px;

    font-size: 22px;
    font-weight: 600;
    border-radius: 20px;
    color: white;
    background-color: #45AFBE;
  }
  #roadmaps_Box1 {
    width: 100%;
    padding-bottom: 10px;
    display: flex;

    text-align: left;
    overflow: scroll;
    text-overflow:ellipsis;
    white-space:nowrap;
  }



  .roadmaps_lectureThumbnails_box {
    width: 135px;
    height: 90px;
    margin: 0 10px;
    background-color: rgb(212, 212, 212);
  }
  #roadmaps_lectureThumbnails {
    width: 135px;
    height: 90px;

    object-fit: cover;

    text-align: center;
    color: #858997;
    font-size: 22px;
    font-weight: 500;
  }

  #roadmaps_nickname {
    width: auto;
    margin: 0px 0px 0px 15px;

    text-align: left;
    display: flex;
    float: left;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 17px; 
    font-weight: 600; 
    color: rgb(190, 190, 190);
  }
  #roadmaps_date {
    width: auto;
    margin: 0px 20px 0px 20px;

    text-align: left;
    display: flex;
    float: left;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 17px; 
    font-weight: 400; 
    color: rgb(190, 190, 190);
  }



  #roadmaps_locationSearch {
    width: 67px;
  }
  #roadmaps_categorySearch {
    width: 110px;
  }
  .roadmaps_search {
    /* width: auto; */
    border: 0;
    font-size: 22px;  
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }