#studiesList_update,#studiesList_delete {
    width: 60px;
    margin: 0px 0px 10px 0px;
    
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0);
}
#studiesList_bar {
    width: 2px;
    height: 32px;

    background-color: #17173D;
}
#studiesList_bar div {
    width: 2px;
    height: 6px;
    background-color: rgb(240, 240, 240);
}
#studiesList_title {
    width: 100%;
    /* height: auto; */
    margin: 0px 0px 0px 10px;

    text-align: left;
    /* display: flex;
    float: left; */

    font-size: 35px;
    font-weight: bolder;
}
#studiesList_top {
    margin: 10px 0px 20px 0px;
}
#studiesList_together {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 7px;
    padding: 3px 7px 3px 7px;

    display: flex;
    float: left;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #17173D;
}
#studiesList_like {
    width: auto;
    height: 25px;
    margin: 5px 7px 5px 0px;
    padding: 3px 7px 3px 7px;

    display: flex;
    float: left;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #45AFBE;
}
#studiesList_writeUsername {
    width: auto; 
    height: 48px; 
    margin: 0px 25px 0px 10px;
    line-height: 50px;

    display: flex;
    float: right;
    
    font-size: 22px; 
    color: #17173D;
}


#studiesList_img_flex {
    width: 50px; 
    height: 50px; 

    display: flex;
    float: right;

    border-radius: 50%;
    background-color: rgb(212, 212, 212);
}
#studies_profill_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
#studiesList_img {
    width: 50px; 
    height: 50px; 

    text-align: center;
    color: #858997;
    font-size: 22px;
    font-weight: 500;
}
#studiesList_profill {
    width: 50px; 
    height: 50px;
    object-fit: cover;
}

#studiesList_box {
    /* width: 100%; */
    margin: 70px 0px 0px 0px;
    padding: 20px 0px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
}
#studiesList_box1 {
    display: flex;
    float: left;

    color: rgb(150, 150, 150);
    font-weight: bolder;
}
#studiesList_box2 {
    display: flex;
    float: left;
}
#studiesList_box3 {
    margin: 0px 20px 0px 0px;
    display: flex;
    float: right;
}
#studiesList_boxOuter {
    margin: 0px 0px 25px 0px;
}
#studiesList_boxInner {
    padding: 8px 20px;
}
#studiesList_like1 {
    width: 28px;
    height: 28px;
    margin: 5px 0px 0px 0px;
}
#studiesList_font {
    display: flex;
    margin: 3px 0px 0px 0px;
    font-size: 20px;
}
#studiesList_font > img {
    width: 30px; height: 30px;
}
/* #studiesList_font2 {
    height: 4px;
    background-color: red;
} */
#studiesList_reports {
    width: auto;
    height: 38px;
    line-height: 35px;

    font-size: 18px;
    background-color: rgb(0, 0, 0, 0);
}
#studiesList_hr {
    width: 100%;
    height: 3px;
}
#studiesList_content {
    padding: 20px;
    height: auto;
}



#studiesList_commentsAdd {
    width: 100%;
    height: auto;
    padding: 15px 0px 15px 0px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
}
#studiesList_commentsAdd > input {
    /* width: 1000px; */
    height: 25px;
    margin: 0px 10px 0px 25px;

    border: 0;
}
#studiesList_commentsAdd > button {
    /* width: 1000px; */
    height: 25px;
    margin: 0px 10px 0px 25px;

    border: 1px solid #17173D;
    color: #17173D;
    border-radius: 5px;
    background-color: white;
}
#studiesList_commnetsAddInput {
    width: 82%;
}



#studiesList_individe2 {
    margin: 20px 0px 0px 20px;
}
#studiesList_commentsBox1 {
    width: auto;
    height: 50px;
}
#studiesList_commentsProfill {
    width: 40px; 
    height: 40px; 
    line-height: 40px; 
    margin: 10px 0px 0px 0px;

    display: flex;
    float: left;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    
    font-size: 16px; 
    border-radius: 50%; 
    color: #17173D; 
    background-color: #45AFBE; 
}
#studiesList_commentsWriteUsername {
    width: auto; 
    height: 30px; 
    margin: 15px 0px 0px 15px;
    line-height: 30px;
    text-align: left;

    display: flex;
    float: left;

    font-size: 16px;
    font-weight: bolder;
    color: #17173D;
}
#studiesList_commentsBoxInner {
    margin: 7px 0px 0px 0px;

    display: flex;
    float: right;
}
#studiesList_nestedCommentsAdd, #studiesList_commentsUpdate, #studiesList_commentsDelete, #studiesList_commentsReports {
    width: 45px;

    font-size: 15px;
    background-color: rgb(0, 0, 0, 0);
}
#studiesList_bar2 {
    margin: 4px 0px 0px 0px;
    width: 1px;
    height: 30px;
    background-color: #17173D;
}



.studiesList_modal1 { 
    position: absolute; 
    top: 25%; 
    left: 37%; 
    width: 380px; 
    height: 350px; 
    display: none; 

    z-index: 998;
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white; 
}
.studiesList_modal2 { 
    position: absolute; 
    top: 25%; 
    left: 37%; 
    width: 380px; 
    height: 350px; 
    display: none; 

    z-index: 998;
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white; 
}
.studiesList_reportsRadio {
    width: 100%;
    height: 50px;
    line-height: 30px;
    margin: 0px 0px 0px 20px;
    text-align: left;
}
.studiesList_reportsButton {
    width: 60px;
    margin: 0px 15px;

    border-radius: 5px;
    color: white;
    background: #17173D;
}



#studiesList_commentsContent {
    height: auto; 
    margin: 5px 0px 0px 50px;
    line-height: 30px;
    text-align: left;
    
    font-size: 16px;
    color: #17173D;
}
.studiesList_commentsContentUpdateInput {
    width: 88%;
    height: 35px;
    border: 0;
}
.studiesList_commentsContentUpdatebutton {
    width: 50px;
    height: 27px;
    font-size: 15px;

    border: 1px solid #17173D;
    border-radius: 5px;
    background-color: white;
}

#studiesList_nestedCommnetsAdd2 {
    width: 97%;
    height: 50px;
    margin: 10px 0px 10px 0px;
    line-height: 50px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
}
#studiesList_nestedCommnetsAdd2 > input {
    width: 80%;

    float: left;

    margin: 15px;
    border: 0;
}
#studiesList_nestedcommnetsAdd3 {
    width: 40px;
    height: 10px;
}
#studiesList_nestedCommentsContentUpdatebutton {
    width: 50px;
    height: 27px;
    margin: 11px 20px 0px 0px;

    float: right;

    font-size: 15px;
    border: 1px solid #17173D;
    border-radius: 5px;
    background-color: white;
}



#studiesList_nestedComments {
    margin: 10px 0px 0px 30px;
}
#studiesList_nestedCommentsContent {
    margin: 10px 0px 0px 50px;
}
#studiesList_nestedCommentsBox1 {
    width: auto;
    height: 50px;
}
#studiesList_nestedCommentsProfill {
    width: 35px; 
    height: 35px; 
    line-height: 35px; 
    margin: 10px 0px 0px 0px;

    display: flex;
    float: left;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    
    font-size: 16px; 
    border-radius: 50%; 
    color: #17173D; 
    background-color: #45AFBE; 
}
#studiesList_nestedCommentsWriteUsername {
    width: auto; 
    height: 30px; 
    margin: 15px 0px 0px 15px;
    line-height: 30px;
    text-align: left;

    display: flex;
    float: left;

    font-size: 16px;
    font-weight: bolder;
    color: #17173D;
}
#studiesList_nestedcommentsDelete {
    width: 45px;
    line-height: 40px;
    margin: 10px 0px 0px 0px;

    display: flex;
    float: right;

    font-size: 15px;
    background-color: rgb(0, 0, 0, 0);
}
#studiesList_nestedcommentsReports {
    width: 45px;
    line-height: 40px;
    margin: 10px 0px 0px 0px;

    display: flex;
    float: right;

    font-size: 15px;
    background-color: rgb(0, 0, 0, 0);
}



/* #studiesList_nestedcommnetsAddMain {
    display: none;
}



#studiesList_button {
    width: 100px;
    margin: 5px;
}

#studiesList_blank {
    width: 1080px;
    height: 50px;
}
 */



/* #studiesList_commentsContent1 {
    width: 1070px;
    height: 50px;
    line-height: 50px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
} */