
#MLR_img {
    width: 150px;
    height: 105px;
    margin: 0;
    
    align-items: center;
    display: inline-block;
    position: relative;

    background-color: rgb(219, 219, 219);

    object-fit: cover;
    text-align: center;
    color: #858997;
    font-size: 22px;
    font-weight: 500;
}

#myLikeReviews_boxA {
    margin: 80px 100px;
}
#myLikeReviews_boxB {
    height: 130px;
    padding: 20px;
    margin: 30px 0px;

    border-radius: 10px;
    box-shadow: 0px 5px 5px gray;
    background-color: white;
}

#myLikeReviews_img {
    width: 150px;
}
#myLikeReviews {
    font-size: 14px;
    font-weight: 700;
}
.myLikeReviews_hashtag {
    margin: 0px 10px;
}
#myLikeReviews_hashtag2 {
    margin: 0px 7px;
    padding: 3px 15px;

    color: white;
    font-weight: 600;
    border-radius: 7px;
    background: #45AFBE;
}
.myLikeReviews_titleLN {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}
.myLikeReviews_titleLN2 {
    margin: 10px 20px;
    font-size: 16px;
    font-weight: 700;
}