#myLikeRoadmaps_boxB {
    width: 100%;
    height: 220px;
    padding: 20px;
    margin: 30px 0px;

    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    background-color: white;
}
#myLikeRoadmaps_Box1 {
    width: 100%;
    display: flex;

    text-align: left;
    overflow: scroll;
    text-overflow:ellipsis;
    white-space:nowrap;
  }

#myLikeRoadmaps_title {
    width: 100%;
    margin: 5px 0px 0px 15px;

    display: flex;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    font-size: 25px; 
    font-weight: bolder; 
    color: #17173D;
  }