#otherProfile_body2 {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background: rgb(240, 240, 240);
}
#otherProfile_top {
    width: 100%;
    height: 70px;
}



#otherProfile_main, #otherProfile_center, #otherProfile_last {
    width: 80%;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}
#otherProfile_center {
    width: 80%;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    background-color: white;
}
#otherProfile_last {
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

#otherProfile_boxAA {
    width: 85%;
    height: auto;
    display: inline-block;
    background-color: white;
}
#otherProfile_boxA {
    margin: 30px 0px;
    /* align-items: center; */
    display: flex;
}
#otherProfile_boxB {
    width: 30%;
    text-align: right;
}
#myProfile_boxC {
    width: 30%;
    text-align: left;
    /* background-color: red; */
}



#otherProfile_profile {
    margin: 25px 0px;
    font-size: 23px;
    font-weight: 700;
}
#otherProfile_image {
    width: 150px;
    height: 150px;
    margin: auto;
    
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
}
.otherProfile_title {
    margin: 0px 0px 15px 0px;

    font-size: 26px;
    font-weight: 640;
}

.otherProfile_click {
    margin: 5px 10px;
    font-size: 25px;
}